/COMP/COMP_200.ASM
/COMP/COMP_DASM.asm
/COMP/COMP_DASM_OLD_DISASM.asm
/COMP/*.bat
/COMP/*.prn
/COMP/*.tws
/COMP/*.zip
/COMP/*.lst
/COMP/COMPARE.JCL
/COMP/COMPPART.JCL
/COMP/MODEL.JCL
/COMP/test.scr
/COMP/COMP_DASM.CMD
/COMP/COMP_ORIG.CMD
/COMP/COMPT.CMD
/COMP/COMP_DASM.EQU
/COMP/DASM80.exe
